

.loadingButton{
    position: relative;
    text-align:center;
    outline:none;
    border:none;
    padding: 1em 2em;
    margin-top:2em;
    display:block;
    width: 100%;
    cursor:pointer;
    font-size: 1.1em;
}


.loadingButton{
    background-color: rgba(0,0,0);
    color: rgba(255,255,255,1);
}



.isLoading::after{
    content:'';
    position:absolute;
    top:30%;
    right:20px;
    height:20px;
    width:20px;
    border-radius: 50%;
    border: 1px dashed whitesmoke;
    animation: init 1s ease infinite;
}

@keyframes init {
    0%{
        transform:rotateZ(0deg);
    }

    60%{
        transform:rotateZ(180deg);
    }

    100%{
        transform: rotateZ(360deg);
    }
}
